@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=JetBrains+Mono&family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,400&family=Urbanist:wght@300;400&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("https://");
}
